<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css"/>
    <title>Products</title>
  </head>
  <body>
    <div>
      <p id="clock"></p>
    </div>
    <div>
      <a href="/products/new">Add Product</a>
    </div>
    <div class="header">
      <img src="/images/ruby.png" alt="ruby" class="image">
      <h1>Toko Barang Erafone</h1>
      <img src="/images/ruby.png" alt="ruby" class="image">
    </div>
    <div>
      <table>
        <tr>
          <th>NO</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Aksi</th>
        </tr>
        <% count = 1 %>
        <% @products.each do |product| %>
          <tr>
            <td><%= count %></td>
            <td><%= product['name'] %></td>
            <td><%= product['price'] %></td>
            <td>
              <a href="/products/<%= product['id'] %>">Detail</a>
              <a href="/products/<%= product['id'] %>/edit">Edit</a>
              <form action="/products/<%= product['id'] %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% count += 1 %>
        <% end %>
      </table>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
